.footer {
  padding: 26px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2b2d;

  &_nav {
    line-height: 20px;
    li:not(:last-child) {
      margin-bottom: 22px;
    }

    &.contacts {
      a {
        display: flex;
        align-items: center;
        column-gap: 15px;
      }
    }
  }

  &_socials {
    display: flex;
    column-gap: 20px;
    font-size: 0;
  }
}
