.header {
  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    font-size: 14px;
    line-height: 24px;
    background-color: #2a2b2d;

    img {
      margin-right: 12px;
    }
  }

  &_location,
  &_telephone {
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
  }

  &_telephone {
    justify-content: flex-end;
  }

  &_bottom {
    padding: 34px 24px 0;
    display: flex;
    justify-content: space-between;
    border: 1px solid #2a2b2d;

    nav {
      display: flex;
      align-items: center;
    }
  }

  &_menu {
    display: flex;
    gap: 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &_logo,
  &_account {
    flex: 1;
    font-size: 0;
  }

  &_account {
    display: flex;
    align-items: center;
    gap: 0 15px;
    justify-content: flex-end;
  }

  &_link {
    position: relative;

    &::after {
      position: absolute;
      opacity: 0;
      content: "";
      height: 1px;
      bottom: -13px;
      margin: 0 0;
      margin-left: -10%;
      left: 0;
      right: 0;
      width: 120%;
      background: #d9d9d9;
      transition: 0.5s;
    }

    &:hover:after {
      width: 130%;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
}
