.product_breadcrumbs {
  a {
    line-height: 20px;
    color: rgba(214, 207, 202, 0.5);
  }

  ul {
    display: flex;
    align-items: center;
    column-gap: 50px;

    li {
      position: relative;

      &:not(:last-child)::after {
        content: "";
        width: 15px;
        height: 20px;
        position: absolute;
        right: -35px;
        background: url(../../assets/images/breadcrumb.svg) center center
          no-repeat;
      }
    }
  }

  margin-bottom: 70px;
}

.product {
  &_info {
    display: flex;
    align-items: center;
    column-gap: calc(1 / 12 * 100%);
    margin-bottom: 80px;
  }

  &_img {
    position: relative;
    min-width: 457px;
    min-height: 475px;
    background: url(../../assets/images/product_item.png) center center
      no-repeat;
    border: 1px solid rgba(214, 207, 202, 0.5);
    border-radius: 10px;

    a {
      position: absolute;
      top: 28px;
      right: 28px;
      font-size: 0;

      svg:hover {
        fill: #ff9b74;
      }
    }
  }

  &_description {
    h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 35px;
    }

    p {
      line-height: 20px;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      &:last-of-type {
        margin-bottom: 90px;
      }
    }

    .cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 20px 60px;
      background: #2a2b2d;
      border-radius: 10px;
      &_ammount {
        display: flex;

        #quantity {
          width: 40px;
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 20px;
          line-height: 24px;
          color: #d6cfca;
          text-align: center;
        }

        input[type="number"] {
          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &::-moz-number-spin-up,
          &::-moz-number-spin-down {
            display: none;
          }

          &::-ms-clear,
          &::-ms-reveal {
            display: none;
          }
        }
      }

      &_price {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
      }

      &_add {
        button {
          min-width: 200px;
          min-height: 48px;
          font-weight: 400;
          font-size: 20px;
          line-height: 25px;

          &.done {
            background: #ff9b74 url(../../assets/images/done.svg) center center
              no-repeat;
          }
        }
      }

      &_decrease {
        width: 30px;
        height: 30px;
        background: url(../../assets/images/leftArrow.svg) center center
          no-repeat;
        cursor: pointer;
      }

      &_increase {
        width: 30px;
        height: 30px;
        background: url(../../assets/images/rightArrow.svg) center center
          no-repeat;
        cursor: pointer;
      }

      p {
        margin-bottom: 0;
      }

      .popup {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(calc(100% + 3px));
        background: rgba(37, 38, 41, 0.9);
        border-radius: 10px;
        padding: 20px;
        display: none;

        p:not(:last-of-type) {
          margin-bottom: 22px;
        }

        p > a {
          color: #ff9b74;
          position: relative;

          &::after {
            position: absolute;
            content: "";
            height: 1px;
            bottom: -13px;
            margin: 0 0;
            margin-left: -10%;
            left: 0;
            right: 0;
            width: 120%;
            background: #ff9b74;
          }
        }
      }

      .popup.show {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .add_wrapper {
    max-width: 936px;
    margin: 0 auto;

    h2 {
      margin-bottom: 50px;
      font-size: 20px;
      line-height: 25px;
    }
  }

  &_adds {
    display: flex;
    display: flex;
    justify-content: space-between;
  }

  &_add {
    background: #27292d;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    min-width: 168px;
    color: #ffffff;

    &_img {
      width: 85px;
      height: 90px;
      border: 1px solid #d6cfca;
      border-radius: 10px;
      background: url(../../assets/images/product_item.png) center center
        no-repeat;
      background-size: 70px;
    }

    h3 {
      font-size: 14px;
      line-height: 18px;
    }

    &_add {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-self: stretch;
    }

    &_price {
      font-size: 12px;
      line-height: 15px;
    }

    &_button button {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
