.banner {
  min-height: 346px;
  background: url(../../assets/images/parallax.jpg) top center no-repeat;
  background-size: cover;
}

main.products {
  padding: 30px 30px 168px;

  .container {
    max-width: 1130px;
    margin: 0 auto;
  }

  .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
  }

  .item {
    flex: 1;
    background: #27292d;
    border-radius: 20px;
    padding: 70px 72px 20px;
    font-weight: 500;
    text-align: center;

    &_price {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 14px;
    }

    figure {
      position: relative;
      margin-bottom: 12px;

      a {
        display: inline-block;
      }

      img {
        margin-bottom: 20px;
      }

      .circle {
        position: absolute;
        top: 4px;
        right: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        border: 1px solid #ff9b74;
        border-radius: 50%;
        transition: fill, stroke ease-in-out 0.2s;

        &:hover svg {
          fill: #ff9b74;

          path {
            stroke: #ff9b74;
          }
        }
      }
    }

    button {
      min-width: 168px;
      min-height: 45px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }

    &.new {
      .new_product {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 78px;
        min-height: 38px;
        margin: 0 auto;
        background: #ff9b74;
        border: 1px solid #ff9b74;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #fff7f1;
      }
    }

    .new_product {
      display: none;
    }
  }
}

.product_breadcrumbs {
  a {
    line-height: 20px;
    color: rgba(214, 207, 202, 0.5);
  }

  ul {
    display: flex;
    align-items: center;
    column-gap: 50px;

    li {
      position: relative;

      &:not(:last-child)::after {
        content: "";
        width: 15px;
        height: 20px;
        position: absolute;
        right: -35px;
        background: url(../../assets/images/breadcrumb.svg) center center
          no-repeat;
      }
    }
  }

  margin-bottom: 40px;
}
