.swiper.mySwiper {
  margin-bottom: 64px;

  .swiper-pagination-bullet {
    background-color: #fff7f1;
    opacity: 1;

    &-active {
      filter: brightness(85%);
    }
  }

  .swiper-button-prev {
    background: url(../../assets/images/prev.svg) center center no-repeat,
      #ffffff;
    left: 16px;
  }

  .swiper-button-next {
    background: url(../../assets/images/next.svg) center center no-repeat,
      #ffffff;
    right: 16px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";
  }
}
